/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #1A2236;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  color: #1A2236;
  background-color: #fff; }

.heading-primary {
  color: #000;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: .2rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .2rem;
        padding: 0 1rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  display: inline-block;
  color: #1A2236; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 3.5rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-big {
      margin-top: 3.5rem !important; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark_grey {
  background-color: #1A2236;
  color: #fff; }
  .btn--dark_grey::after {
    background-color: #1A2236; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #1A2236;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1A2236;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #1A2236;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.227);
  font-size: 1.8rem;
  width: 33rem;
  height: 40rem;
  margin: 3rem 3rem;
  border-radius: 10rem;
  transition: all 0.2s; }
  .card:hover {
    transform: scale(1.1); }
  .card__picture {
    height: 60%; }
    .card__picture img {
      width: 33rem;
      height: 100%; }
  .card__details {
    height: 40%;
    padding: 1rem 2rem;
    background-color: #1A2236; }
  .card__heading {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff; }
  .card__features--list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto; }
  .card__features--feature {
    margin: .1rem .2rem;
    padding: .1rem .5rem;
    border-radius: 1rem;
    color: #98DEDE;
    background-color: #3C4658;
    font-size: 1.3rem; }

.form-c {
  padding: 0 4rem; }
  .form-c__input-area-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .form-c__input-area-1 {
        flex-direction: column; } }
    .form-c__input-area-1--input {
      width: 48.5%;
      height: 5rem;
      padding: .2rem 1rem;
      font-size: 1.8rem; }
      @media only screen and (max-width: 37.5em) {
        .form-c__input-area-1--input {
          width: 100%;
          margin-top: 1.5rem; } }
  .form-c__message {
    width: 100%;
    height: 22rem;
    padding: .2rem 1rem; }
  .form-c__button, .form-c__button:link, .form-c__button:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .form-c__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .form-c__button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .form-c__button:active, .form-c__button:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .form-c__button--white {
    background-color: #fff;
    color: #777; }
    .form-c__button--white::after {
      background-color: #fff; }
  .form-c__button--green {
    background-color: #1A2236;
    color: #fff; }
    .form-c__button--green::after {
      background-color: #1A2236; }
  .form-c__button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .form-c__button--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover {
    color: blue; }

/* .footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
}
*/
.footer {
  background-color: #333;
  height: 10rem; }

.section-welcome {
  position: relative; }
  .section-welcome__text-box {
    position: absolute;
    top: 14rem;
    left: 6rem;
    width: 45%;
    height: auto;
    padding-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .section-welcome__text-box {
        position: unset;
        margin-top: 5rem;
        padding: 0 3rem;
        text-align: center;
        width: 100%; } }

/*.navigation {
    position:fixed;
    top: 0; left: 0; right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    width: 100%;
    height: 7rem;
    background-color: $color-navigation-background;
    color: $color-navigation-links;
    font-weight: 700px;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;

    @include respond(phone) {
        padding: 20px;
    }

    #menu-bar{
        display:none ;

        &:checked ~ .navigation_nav {

            @include render(phone) {
                display:initial;
            }
        }

    }

    label {
        font-size: 20px;
        cursor: pointer;
        display: none;

        @include render(phone) {
            display:initial;
        }

    }

    &__nav {
        height:100%;
        width: 70%;
    }

    &__list {
        list-style:none;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;

        height:100%;
        width:60%;
        margin:0 auto;
        


    }

    &__item {
        margin: 1rem;

    }

    &__link {
        padding-bottom:.2rem;

        &:link,
        &:visited {
            font-size: 1.7rem;
            font-weight: 400;
            color: $color-grey-dark;
            text-decoration: none;
            display: block;
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            cursor: pointer;
            border-bottom: .2rem $color-grey-dark solid;
        }
    }

}
*/
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 6rem;
  background-color: #0a2473a8; }
  @media only screen and (max-width: 37.5em) {
    nav :checked ~ .links {
      bottom: 0; } }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(1rem) rotate(225deg); }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-1rem) rotate(-225deg); }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0; }
  nav input {
    display: none; }
  nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color: #fff; }
    @media only screen and (max-width: 37.5em) {
      nav .logo {
        float: none;
        width: auto;
        justify-content: center; } }
  nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 10rem;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out; } }
    nav .links li {
      list-style: none; }
    nav .links a {
      display: block;
      padding: .5rem;
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      text-decoration: none; }
      @media only screen and (max-width: 37.5em) {
        nav .links a {
          font-size: 2rem; } }
  nav #nav-toggle {
    position: absolute;
    top: 10rem; }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (max-width: 37.5em) {
      nav .icon-burger {
        display: block; } }
    nav .icon-burger .line {
      width: 3rem;
      height: .5rem;
      background-color: #fff;
      margin: .5rem;
      border-radius: .3rem; }

.section {
  position: relative;
  min-height: 95vh;
  border-top: 1px solid rgba(124, 71, 71, 0.549);
  padding-top: 7rem;
  transition: transform 1s, opacity 1s; }
  .section__content--portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .section-contact {
    background-color: #1A2236;
    color: #fff;
    height: auto; }
    .section-contact h3 {
      color: #fff; }
    .section-contact p {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.8rem; }
    .section-contact__container {
      width: 40%;
      margin: 0 auto; }
      @media only screen and (max-width: 37.5em) {
        .section-contact__container {
          width: 90%;
          margin: 0 auto; } }
