.form-c {
	padding:0 4rem;

	&__input-area-1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 100%;

		@include respond(phone) {
			flex-direction: column;
		}

		&--input {
			width: 48.5%;
			height: 5rem;
			padding: .2rem 1rem;
			font-size: 1.8rem;

			@include respond(phone) {
				width: 100%;
				margin-top: 1.5rem;

			}
		}
	}

	&__message {
		width: 100%;
		height: 22rem;
		padding:.2rem 1rem;;

	
	}

	&__button {
		&,
		&:link,
		&:visited {
			text-decoration: none;
			padding: 1.5rem 4rem;
			display: inline-block;
			border-radius: 10rem;
			transition: all .2s;
			position: relative;
			font-size: $default-font-size;
	
			//Change for the <button> element
			border: none;
			cursor: pointer;
		}
		
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba($color-black,.2);
	
			&::after {
				transform: scaleX(1.4) scaleY(1.6);
				opacity: 0;
			}
		}
		
		&:active,
		&:focus {
			outline: none;
			transform: translateY(-1px);
			box-shadow: 0 .5rem 1rem rgba($color-black,.2);
		}
		
		&--white {
			background-color: $color-white;
			color: $color-grey-dark;
	
			&::after {
				background-color: $color-white;
			}
		}
	
		&--green {
			background-color: $color-primary;
			color: $color-white;
	
			&::after {
				background-color: $color-primary;
			}
		}
		
		&::after {
			content: "";
			display: inline-block;
			height: 100%;
			width: 100%;
			border-radius: 10rem;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all .4s;
		}
		
		&--animated {
			animation: moveInBottom .5s ease-out .75s;
			animation-fill-mode: backwards;
		}
	}
}