.card {
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    width: 33rem;
    height: 40rem;
    margin: 3rem 3rem;
    border: 1rem px $color-black;
    border-radius: 0.7rem;

    &__picture {
        height: 60%;

        img {
            width:  33rem;
            height: 100%;
        }
    }

    &__details {
        height: 40%;
        padding: 1rem 2rem;
        background-color: $color-primary;
    }
    
    &__heading {
        font-size: 2.3rem;
        font-weight: 700;
        color: $color-white;
    }

    &__features--list {
        list-style: none;

        display: flex;
        flex-direction: row;
        flex-wrap:  wrap;

        width: auto;

    }

    &__features--feature {
        margin: .1rem .2rem;
        padding: .1rem .5rem;
        border-radius: 1rem;
        color: #98DEDE;
        background-color: #3c4658;

        font-size: 1.3rem;

    }
}