/*.navigation {
    position:fixed;
    top: 0; left: 0; right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    width: 100%;
    height: 7rem;
    background-color: $color-navigation-background;
    color: $color-navigation-links;
    font-weight: 700px;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;

    @include respond(phone) {
        padding: 20px;
    }

    #menu-bar{
        display:none ;

        &:checked ~ .navigation_nav {

            @include render(phone) {
                display:initial;
            }
        }

    }

    label {
        font-size: 20px;
        cursor: pointer;
        display: none;

        @include render(phone) {
            display:initial;
        }

    }

    &__nav {
        height:100%;
        width: 70%;
    }

    &__list {
        list-style:none;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;

        height:100%;
        width:60%;
        margin:0 auto;
        


    }

    &__item {
        margin: 1rem;

    }

    &__link {
        padding-bottom:.2rem;

        &:link,
        &:visited {
            font-size: 1.7rem;
            font-weight: 400;
            color: $color-grey-dark;
            text-decoration: none;
            display: block;
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            cursor: pointer;
            border-bottom: .2rem $color-grey-dark solid;
        }
    }

}
*/

nav {
    position: fixed;
    z-index:  10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 7rem;
    background-color: #3e65da;

    & :checked ~ .links {
        @include respond(phone) {
            bottom: 0;
        }
    }

    & :checked ~ .icon-burger .line:nth-child(1) {
        transform:  translateY(1rem) rotate(225deg);
    }

    & :checked ~ .icon-burger .line:nth-child(3) {
        transform:  translateY(-1rem) rotate(-225deg);
    }

    & :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    input {
        display: none;

        @include respond(phone) {
            display: none;
        }
    }

    .logo {
        float: left;
        width: 40%;
        height: 100%;

        display: flex;
        align-items: center;
        font-size: 2.4rem;
        color: #fff;

        @include respond(phone) {
            float:none;
            width:  auto;
            justify-content: center;
        }       
    }

    .links {
        float: right;
        padding: 0;
        margin: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include respond(phone) {
            float:none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 10rem;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            background-color: rgba(0,0,0,.8);
            overflow: hidden;
            transition: all .5s ease-in-out;
        }

        li {
            list-style:none;
        }

        a {
            display: block;
            padding: .5rem;
            font-size:  1.6rem;
            font-weight: bold;
            color: #fff;
            text-decoration:none;

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }


    #nav-toggle {
        position: absolute;
        top: 10rem;
    }
    .icon-burger {
        display:none;
        position: absolute;
        right:  5%;
        top: 50%;
        transform: translateY(-50%);

        @include respond(phone) {
            display:block;
        }

        .line {
            width: 3rem;
            height: .5rem;
            background-color: #fff;
            margin: .5rem;
            border-radius: .3rem;
        }
    }
}

